@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$mdc-theme-primary: #607d8b;
$mdc-theme-secondary: #6699cc;
$mdc-theme-background: #fff999;

@import "material-components-web/material-components-web";
